@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">Overview</a>
    <!--asp-controller="Home" is not necessary bc we are already in the Home controller-->
</div>
